name: Run tests
on:
  push:
    branches: main
  pull_request:
  workflow_call:

jobs:
  print-windows-sdks:
    name: Log Windows SDKs
    runs-on: windows-2022
    steps:
      - name: Print installed Windows SDK versions
        shell: pwsh
        continue-on-error: true
        run: Get-ChildItem -Name "HKLM:\SOFTWARE\Microsoft\Windows Kits\Installed Roots"

  print-compiler-version:
    name: Log MSVC compiler version
    runs-on: windows-2022
    steps:
      - name: Add MSVC compiler to the PATH
        uses: ilammy/msvc-dev-cmd@v1

      - name: Print the active MSVC compiler version
        shell: pwsh
        continue-on-error: true
        run: cl /?

  build-and-test-32bit:
    name: Build & test - x86
    runs-on: windows-2022
    steps:
      - name: Add MSBuild to the PATH
        uses: microsoft/setup-msbuild@v2

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all the history so that `git describe` works to generate the version header
          fetch-tags: true

      - name: Build debug binaries
        run: msbuild /r /m /p:Configuration=Debug /p:Platform=x86 build\foo_openlyrics.sln

      - name: Run tests
        run: build\Debug\test_foo_openlyrics.exe build\Debug\foo_openlyrics.dll

      - name: Build release binaries
        run: msbuild /r /m /p:Configuration=Release /p:Platform=x86 build\foo_openlyrics.sln

  build-and-test-64bit:
    name: Build & test - x64
    runs-on: windows-2022
    steps:
      - name: Add MSBuild to the PATH
        uses: microsoft/setup-msbuild@v2

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch all the history so that `git describe` works to generate the version header
          fetch-tags: true

      - name: Build debug binaries
        run: msbuild /r /m /p:Configuration=Debug /p:Platform=x64 build\foo_openlyrics.sln

      - name: Run tests
        run: build\x64\Debug\test_foo_openlyrics.exe build\x64\Debug\foo_openlyrics.dll

      - name: Build release binaries
        run: msbuild /r /m /p:Configuration=Release /p:Platform=x64 build\foo_openlyrics.sln
